.App {
    background-color: #6abf69;
    height: 100vh;
}


div form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border: 0;
    background-color: rgba(255,255,255,0.2);
    font-size: 36px;
    color: #fff;
    margin: 0 30px;
}

input::placeholder {
    color: #fff;
}

input:focus {
    outline: none;
}
